.checkbox-list {
  margin: 0;
  padding: 14px 0 0 1px;
  list-style: none;
}

.checkbox-list__item {
  margin-bottom: 8px;
}


@media(min-width: $tablet) {
  .checkbox-list {
    padding: 0 0 0 59px;
  }

  .checkbox-list__item {
    margin: 0;

  }

}
