.copyright{
    position: relative;
    margin: 0 25px;
    min-height: 32px;
}

.copyright__text{

}

.copyright__link{
    width: 42px;
    height: 33px;
    display: block;
    position: absolute;
    right: -8px;
    top: -9px;
}

.copyright__logo{
    width: 100%;
}