.countries-list {
  list-style: none;
  margin: 0 0 26px 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.countries-list__item {
  margin: 0 0 11px 0;
  padding: 0;
  border-radius: 11px;
  overflow: hidden;
}

.countries-list__img {
  width: 100%;

}

@media(min-width: $tablet) {

  .countries-list__item {
    margin: 0 0 12px 0;
    padding: 0;
    border-radius: 11px;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    height: 140px;
  }

}

@media(min-width: $desktop) {
  .countries-list {
    max-width: 560px;
  }

  .countries-list__img {
    height: 100%;
  }
}
