.level {
  display: block;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  }

.level--99{
  background: url("../img/svg/mark-99.svg") no-repeat top left;
}

.level--80{
  background: url("../img/svg/mark-80.svg") no-repeat top left;
}

@media(min-width: $tablet) {
  .level--form {
    width: 90px;
    height: 90px;
  }

}


@media (min-width: $desktop) {
  .level--form {
    top: 103px;
    left: 65%;
    z-index: 2;
  }
}
