.main-nav {
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  position: relative;
}

.main-nav__wrapper {
  text-align: center;
  padding-bottom: 39px;
  padding-top: 42px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 10;
  padding-left: 25px;
  padding-right: 25px;
  width: calc(100vw - 17px);
  box-sizing: border-box;
  z-index: 1000;
}

.main-nav--no-js .main-nav__wrapper{
  position: relative;
}

.main-nav__list {
  margin: 0 0 54px;
}

.main-nav__login{
  margin-bottom: 56px;

}

.main-nav__contacts {
  margin: 0 0 32px;
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__wrapper {
  display: none;
}

.main-nav__cross {
  display: block;
  fill: #cccccc;
  margin-left: auto;
}

.main-nav__burger {
  display: none;
  fill: #ffffff;
}

.main-nav--closed .main-nav__toggle{
  top: -57px;
}

.main-nav--closed .main-nav__cross  {
  display: none;
}

.main-nav--closed .main-nav__burger {
  display: block;
}

.main-nav--header-scrolled .main-nav__burger  {
  fill: #cccccc;
}

@media(min-width: $tablet) {
  .main-nav__wrapper {
    padding-bottom: 89px;
  }

  .main-nav__toggle {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    top: -74px;
  }

  .main-nav__cross {
    margin-right: auto;
  }

  .main-nav--closed .main-nav__toggle {
    top: -78px;
  }
  .main-nav--closed .main-nav__wrapper {
    display: block;
    padding: 0;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__contacts {
    display: none;
  }

  .main-nav--closed .main-nav__socials {
    display: none;
  }
}

@media(min-width: $desktop) {
  .main-nav {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    background-color: #192144;
    position: relative;
  }

  .main-nav__wrapper {
    text-align: left;
    padding: 0;
    position: relative;
    background: #161c35;
  }

  .page-header--scrolled .main-nav__wrapper{
    background-color: #ffffff;
  }

  .page-header--scrolled .main-nav__list::before {
    background-color: #192144;
  }

  .page-header--scrolled .site-list__link {
    color: #192144;
  }

  .main-nav--no-js .main-nav__wrapper{
    position: relative;
  }

  .main-nav__list {
    margin: 0;
  }

  .main-nav__login{
    margin-bottom: 0;

  }

  .main-nav__contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {
    display: block;
    padding-top: 64px;
  }

  .main-nav__burger {
    display: none;
  }

  .main-nav--closed .main-nav__cross  {
    display: none;
  }

  .main-nav--closed .main-nav__burger {
    display: none;
  }

  .main-nav--closed .main-nav__wrapper {

  }

  .main-nav--closed .main-nav__list {
    display: flex;

  }
  .main-nav--closed .main-nav__contacts {
    display: block;
  }

  .main-nav--closed .main-nav__socials {
    display: none;
  }

}
