.nav-toggle {
  padding: 0;
  position: absolute;
  right: 26px;
  top: -50px;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  width: 25px;
  height: 24px;
  text-align: right;
}

@media(min-width: $desktop) {
  .nav-toggle {
    display: none;
  }
}
