.page-header {
  background-color: #161c35;
  padding-top: 73px;
  position: relative;
}

.page-header--nav-opened {
  background-color: #ffffff;
}

.page-header--scrolled {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
}

.page-header__logo {
  display: block;
  position: absolute;
  left: 25px;
  top: 19px;
}

.page-header__logo--catalog {
  left: 27px;
  top: 19px;
}

.page-header__svg {
  fill: #ffffff;
}

.page-header--nav-opened .page-header__svg {
  fill: #161c35;
}

.page-header--nav-opened  .page-header__logo{
  top: 27px;
}

.page-header--scrolled .page-header__svg {
  fill: #161c35;
}

.page-header__svg {
  display: none;
}

.page-header__svg--m {
  display: block;

}

@media(min-width: $tablet) {
  .page-header__svg--m {
    display: none;
  }

  .page-header__svg--t {
    display: block;
  }

  .page-header__svg-text {
    // fill: #192144;
    fill: #ffffff;
  }

  .page-header--scrolled .page-header__svg-text {
    fill: #192144;
  }

  .page-header--nav-opened .page-header__svg-text {
    fill: #192144;
  }

  .page-header__logo:hover .page-header__svg-text{
    fill: #192144;
  }

  .page-header {
    padding-top: 132px;
    background-color: #182044;
  }

  .page-header--scrolled {
    background-color: #ffffff;
  }

  .page-header--nav-opened {
    background-color: #ffffff;
  }

  .page-header--scrolled .page-header {
    background-color: #ffffff;
  }

  .page-header__logo {
    left: 40px;
    top: 44px;
  }

  .page-header--nav-opened .page-header__logo {
    top: 44px;
  }

  .page-header--nav-opened .page-header__toggle {
    top: -79px;
  }
}

@media(min-width: $desktop) {
  .page-header {
    padding-top: 0;
    background-color: #161c35;

  }

  .page-header--scrolled {
    background-color: #ffffff;
    z-index: 11;

  }

  .page-header__logo {
    left: 2px;
    top: 47px;
  }

  .page-header__container {
    width: $content-width;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 262px;
    box-sizing: border-box;
    position: relative;
    padding-right: 273px;
  }

  .page-header__svg {
    width: 200px;
    height: 50px;
  }

  .page-header__svg-text {
    fill: #ffffff;
  }

}
