.page-footer {
    position: relative;
    z-index: 96;
    margin-top: -115px;
    padding-top: 37px;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 15px;
}

.page-footer__logo{
    margin-bottom: 34px;
    display: inline-block;
    vertical-align: top;
}

.page-footer__social{
    text-align: center;
    margin-bottom: 18px;
}