.profile {
  padding-left: 27px;
  padding-right: 26px;
  background-color: #edeff6;
  padding-bottom: 40px;
}

.profile__wrapper {
  padding: 0;
  margin: 0 auto;
}

@media(min-width: $tablet) {
  .profile {
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 80px;
  }

  .profile__form {
    position: relative;
  }

}


@media(min-width: $desktop) {
  .profile {
    padding-left: 60px;
    padding-right: 60px;
  }

}
