.social-list {
  list-style: none;
  margin: 0 25px;
  padding: 0 0 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #f2f2f2;
}

.social-list__item{
  width: 45px;
  height: 45px;
}

.social-list__link {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffd74b;

  &::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--facebook::before {
    background-image: url("../img/svg/facebook.svg");
    width: 11px;
    height: 21px;
  }

  &--vk::before {
    background-image: url("../img/svg/vk.svg");
    width: 22px;
    height: 12px;
  }

  &--insta::before {
    background-image: url("../img/svg/insta.svg");
    width: 18px;
    height: 18px;
  }
}

@media(min-width: $tablet) {
  .social-list {
    margin-left: -10px;
  }

.social-list__item{
  width: 62px;
  height: 62px;
  margin-left: 10px;
}

.social-list__link {
  &--facebook::before {
    width: 14px;
    height: 28px;
  }

  &--vk::before {
    width: 30px;
    height: 16px;
  }

  &--insta::before {
    width: 24px;
    height: 24px;
  }
}
}
