
.transport-list {
  margin: 0;
  padding: 35px 0px 39px 0px;
  list-style: none;
  position: relative;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.transport-list__item {
  padding :0;
}

.transport-list__label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}


.transport-list__input--plane+label {
  &::before {
    content: "";
    position: absolute;
    left: 48px;
    top: -3px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 1;
  }

}

.transport-list__input--enabled+label {
  background-color: #ffffff;
}

.transport-list__input--plane:checked+label {
  &::after {
    content: "";
    position: absolute;
    left: 56px;
    top: 6px;
    width: 16px;
    height: 35px;
    background-image: url("../img/svg/plane-enabled.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 3;

  }
}


.transport-list__input--car+label {
  &::before {
    content: "";
    position: absolute;
    left: 80px;
    top: -2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 1;
  }
}

.transport-list__input--car:checked+label {
  &::after {
    content: "";
    position: absolute;
    left: 87px;
    top: 6px;
    width: 18px;
    height: 35px;
    background-image: url("../img/svg/car-enabled.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 3;
  }
}

.transport-list__input--bike+label {
  &::before {
    content: "";
    position: absolute;
    left: 112px;
    top: -2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 1;
  }
}

.transport-list__input--bike:checked+label {
  &::after {
    content: "";
    position: absolute;
    left: 87px;
    top: 6px;
    width: 18px;
    height: 35px;
    background-image: url("../img/svg/bike-enabled");
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 3;
  }
}

.transport-list__input--onfoot+label {
  &::before {
    content: "";
    position: absolute;
    left: 145px;
    top: -2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 1;
  }
}


.transport-list__input--onfoot:checked+label {
  &::after {
    content: "";
    position: absolute;
    left: 151px;
    top: 6px;
    width: 16px;
    height: 35px;
    background-image: url("../img/svg/onfoot-enabled.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    z-index: 3;
  }
}

@media (min-width: $tablet) {
  .transport-part__list-container{
    position: absolute;
  }
}
