.user-level{
  margin: 0;
  padding: 0;
}
.level__number {
  color: #161c35;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
}

.level__name {
  color: #444444;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
